Repository sean-conkie/BigQuerySQLFormatter-extension, pull requests merged in 2024-03, with the labels that each got.

#1 Add basic language server and client
  .eslintignore
  .eslintrc.js
  .github/labeler.yml
  .github/linters/.markdown-lint.yml
  .github/linters/.yamllint.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/node.js.yml
  .github/workflows/super-linter.yml
  .gitignore
  .markdownlintignore
  .vscodeignore
  Makefile
  README.md
  client/package-lock.json
  client/package.json
  client/src/extension.ts
  client/src/test/completion.test.ts
  client/src/test/diagnostics.test.ts
  client/src/test/helper.ts
  client/src/test/index.ts
  client/src/test/runTest.ts
  client/testFixture/completion.txt
  client/testFixture/diagnostics.txt
  client/tsconfig.json
  package-lock.json
  package.json
  scripts/e2e.sh
  scripts/linters.mk
  server/package-lock.json
  server/package.json
  server/src/server.ts
  server/tsconfig.json
  tsconfig.json
Labels: documentation, feature

#28 Add linter rules for layout
  .github/dependabot.yml
  .github/linters/.yamllint.yml
  .github/release.yaml
  .github/workflows/node.js.yml
  .github/workflows/super-linter.yml
  .gitignore
  .vscode-test.js
  client/package-lock.json
  client/package.json
  client/src/extension.ts
  language-configuration.json
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/src/linter/googlesql.json
  server/src/linter/linter.ts
  server/src/linter/parser.ts
  server/src/linter/rules/base.ts
  server/src/linter/rules/enums.ts
  server/src/linter/rules/layout/LT13.ts
  server/src/linter/rules/layout/rules.ts
  server/src/linter/rules/rules.ts
  server/src/linter/syntaxes/googlesql.tmLanguage.json
  server/src/server.ts
  server/src/settings.ts
  server/src/tests/linter/linter.test.ts
  server/src/tests/linter/rules/layout/LT13.test.ts
  server/src/tests/linter/rules/layout/rules.test.ts
  server/src/tests/linter/rules/rules.test.ts
  server/tsconfig.json
Labels: feature

#77 Add Rule: UNION operators should be surrounded by newlines
  server/src/linter/rules/layout/LT11.ts
  server/src/linter/rules/layout/rules.ts
  server/src/tests/linter/rules/layout/LT11.test.ts
  server/src/tests/linter/rules/layout/rules.test.ts
Labels: rule

#74 Add rule "files must end with a single trailing newline."
  server/package-lock.json
  server/package.json
  server/src/linter/rules/base.ts
  server/src/linter/rules/layout/LT12.ts
  server/src/linter/rules/layout/rules.ts
  server/src/tests/linter/rules/layout/LT12.test.ts
  server/src/tests/linter/rules/layout/rules.test.ts
Labels: rule
